/*.row1 {
  position: absolute;
  top: 0;
  right: 0;
}*/
table {
  width: 100vw;
  height: 100vh;
}
th {
  text-align: left;
  background-color: #f2f2f2;
}
  .th.header {
    text-align: center;
  }

